DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database config
# sqlite (default local) or postgres (for docker compose sidecar)
DB_ENGINE=sqlite
POSTGRES_DB=aws_explore
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5455

AWS_PROFILE=default
AWS_REGION=us-east-1
# Opsional: Static Credentials (if not using profile)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
